loglevel=error
only-built-dependencies[]=@reown/appkit
only-built-dependencies[]=better-sqlite3
only-built-dependencies[]=bufferutil
only-built-dependencies[]=esbuild
only-built-dependencies[]=keccak
only-built-dependencies[]=msgpackr-extract
only-built-dependencies[]=utf-8-validate
